# Resources required by the sample browser and most samples.
[Essential]

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]

# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
#Zip=Media/packs/OgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=Media/fonts
FileSystem=Media/materials/programs
FileSystem=Media/materials/scripts
FileSystem=Media/materials/textures
FileSystem=Media/materials/textures/nvidia
FileSystem=Media/models
#FileSystem=Media/particle
#FileSystem=Media/DeferredShadingMedia
#FileSystem=Media/PCZAppMedia
#FileSystem=Media/RTShaderLib
#FileSystem=Media/RTShaderLib/materials
#FileSystem=Media/materials/scripts/SSAO
#FileSystem=Media/materials/textures/SSAO

Zip=Media/packs/SdkTrays.zip
#Zip=Media/packs/Sinbad.zip
#Zip=Media/packs/skybox.zip
#Zip=Media/packs/fresneldemo.zip
#Zip=Media/packs/dragon.zip
#Zip=Media/packs/cubemapsJS.zip
#Zip=Media/packs/cubemap.zip
#Zip=Media/packs/chiropteraDM.pk3
#Zip=Media/packs/ogredance.zip
#Zip=Media/packs/ogretestmap.zip
#Zip=Media/packs/profiler.zip

# Materials for visual tests
[Tests]
